.banner {
  @include auto_center;
  margin-top: 4rem;
  margin-bottom: 4rem;

  position: relative;

  .banner_content {
    max-width: 60ch;
    h2 {
      text-transform: uppercase;
    }
    p {
      font-size: 1.3rem;
      line-height: 1.75rem;
    }
  }
  .banner_arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      path {
        fill: $color_pink;
      }
    }
  }
}
